body {
  background-color: 647D87;
}

article {
  background-color: 6DA4AA;
  border: 20px;
  border-color: 6DA4AA;
  border-style: solid;
}

nav {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: FAEF9B;
}

a {
  color: black;
  font-size: larger;
}

img {
  height: 250px;
  width: 300px;
}

.activePage {
  pointer-events: none;
}

.flexParent {
  display: flex;
  height: 300px;
  align-items: center;
  gap: 15px;
}

.flexChild {
  margin: auto;
  text-wrap: wrap;
}

.centerOfPage {
  margin: auto;
  width: 50%;
}

.sectionBackground {
  background-color: F6D776;
  border-radius: 20px;
  padding: 10px;
}

.marginal{
  margin-top: 25px
}
.appearSecond {
  order: 2;
}