body {
  background-color: 647D87;
}
nav {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: FAEF9B;
}

a {
  color: black;
}
.activePage {
  pointer-events: none;
}

.flexParent {
  display: flex;
  height: 300px;
  align-items: center;
}

.flexChild {
  margin: auto;
  text-wrap: nowrap;
}

/* *{
  border: 1px solid black;
} */